/* Presenting content */
* {
	box-sizing: border-box;
}
html {
	background-color: white;
}


header {
	padding: 4em 0em;
	margin: 0 auto;
	width: 50vw;
}
header img {
    bottom: -6em;
    animation: slide-in-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    max-width: 100%;
}

main {
  display: block;
  width: 100%;
}

nav {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index:2;
  padding: 0.5em;
  display: flex;
  justify-content: flex-end;
  font-family: 'Press Start 2P', cursive;

}

nav a {
  color:#282828;
  margin:0.5em;
  text-decoration: none;
  transition: color 0.25s;
}

nav a:hover {
  color:#f2c544;
}

b {
    font-family: 'Press Start 2P', cursive;
    color: white;
}

.grid {
  margin-bottom: 1.8em;
  display: flex;
  flex-wrap: wrap;
}


.item {
  width: 100%;
  padding: 0.5em;
}

@media (min-width: 700px) {
  .item {
    width: 50%
  }
}

@media (min-width: 1200px) {
  .item {
    width: 33.3%
  }
}

footer {
  background: white;
  margin: -0.5em;
  padding: 0em 1em 0em 0.5em;
  color: #f2c544;
  text-align: left;
  width: 100%;
  color: black;
  font-family: 'Press Start 2P', cursive;
}


.toggle p {
	opacity: 0;
	transition: all 0.4s;
	height: 0;
	transform: translateX(-2em);
}

.show p {
	opacity: 1;
	height: auto;
	transform: translateX(0);
}

.toggle h1 {
	cursor:pointer;

	transition: all 0.4s;

}

.toggle h1:hover {
	color: yellow;
	transform: scale(1.025);
	
}

.show h1 {
	transform: translateY(-0.5em);
}



body {
  display: grid;
  grid-template-areas: ". . ." ". text ." ". . .";
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-image: radial-gradient(circle, #333333, #222222);
}

.home {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}


@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}



/* GLOBAL STYLES */
body {
  background: #333;
  padding-top: 5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}



.home {
    display: flex;
    min-height: 100vh;
    align-items: center;
}

.home header {
    margin-left: 0;
    margin-top: -10em;
    width: 30vw;
    text-align: center
}


/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
  position: fixed;
  bottom: 50%;
  left: 30vw;
  font-size: 1.25vw;
  
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
